<h1>Welcome</h1>
<p>Welcome to Techshrae 1.0</p>
<p>Post stories from the best and worst experience of your tech journey and postion your article in a way to inspire and or strenghten tech 
    enthiuist within the industry and have your article published as a private or public diary.
</p>
{{#if user}}
{{else}}
    <a class="btn red darken-1" href="/auth/google"><i class="fa-brands fa-google left"></i>Login With Google</a>
{{/if}}
